.nav {
    gap: 10px;
    display: flex;
    padding: 16px;
    border-bottom: 1px solid #C59BFF;
}

.nav-logo {
    gap: 8px;
    display: flex;
    color: #7B3FE0;
    font-weight: bold;
    margin-inline: 30px;
    align-items: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    display: flex;
    color: inherit;
    font-size: small;
    color: #9F63E1;
    align-items: center;
    text-decoration: none;
    font-family: "Charter", "Bitstream Charter", "Georgia", serif;
    /* font-family: "Merriweather", serif; */
}

.nav-link:hover {
    color: #7B3FE0;
}

.nav-link.active {
    color: #7B3FE0;
    font-weight: bold;
    font-size: smaller;
}