.nav {
    gap: 12px;
    display: flex;
    padding: 16px;
    border-bottom: 1px solid #C59BFF;
}

.nav-logo {
    gap: 8px;
    display: flex;
    align-items: center;
    margin-inline: 40px;
    font-weight: bold;
    text-decoration: none;
    color: #7B3FE0;
    font-family: 'Montserrat', sans-serif;
}

.nav-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #9F63E1;
    margin-inline: 5px;
    font-family: 'Copse', sans-serif;
    font-size: small;
}

.nav-link:hover {
    color: #7B3FE0;
}

.nav-link.active {
    color: #7B3FE0;
    font-weight: bold;
    font-size: smaller;
}